<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.cau.cs.kieler.klighd.ui.parts.DiagramEditorPart"
            contributorClass="de.cau.cs.kieler.klighd.ui.parts.DiagramEditorPart$PrintActionContributor"
            default="false"
            extensions="kgx,kgraph"
            icon="icons/klighd.gif"
            id="de.cau.cs.kieler.klighd.ui.parts.DiagramEditorPart"
            name="Lightweight Diagram Viewer">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.cau.cs.kieler.klighd"
            name="KIELER Lightweight Diagrams">
      </category>
      <view
            allowMultiple="true"
            category="de.cau.cs.kieler.klighd"
            class="de.cau.cs.kieler.klighd.ui.parts.DiagramViewPart"
            icon="icons/klighd.gif"
            id="de.cau.cs.kieler.klighd.ui.parts.DiagramViewPart"
            name="Diagram (Deprecated)"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.cau.cs.kieler.klighd.ui.internal.KlighdPreferencePage"
            id="de.cau.cs.kieler.klighd.ui.preferences"
            name="KIELER Lightweight Diagrams">
      </page>
   </extension>
</plugin>
