<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.cau.cs.kieler.klighd.ui.view.controller" name="DiagramView Update Controller" schema="schema/controller.exsd"/>
   <extension-point id="de.cau.cs.kieler.klighd.ui.view.editor" name="DiagramView Editor Controller Registration" schema="schema/editor.exsd"/>
   <extension
         point="de.cau.cs.kieler.klighd.extensions">
      <viewer
            class="de.cau.cs.kieler.klighd.ui.viewers.PiccoloViewerUI$Provider"
            id="de.cau.cs.kieler.klighd.ui.viewers.PiccoloViewerUI">
      </viewer>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.cau.cs.kieler.klighd.ui.isKlighdContext">
         <with
               variable="activeContexts">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <equals
                     value="de.cau.cs.kieler.klighd.ui.context">
               </equals>
            </iterate>
         </with>
      </definition>
      <definition
            id="de.cau.cs.kieler.klighd.ui.nodesSelected">
           <and>
              <reference
                    definitionId="de.cau.cs.kieler.klighd.ui.isKlighdContext">
              </reference>
              <with
                    variable="activeMenuSelection">
                 <iterate>
                    <instanceof
                          value="de.cau.cs.kieler.core.kgraph.KNode">
                    </instanceof>
                 </iterate>
              </with>
          </and>
      </definition>
      <definition
            id="de.cau.cs.kieler.klighd.ui.singleNodeSelected">
         <and>
            <with
                  variable="activeMenuSelection">
               <count
                     value="1">
               </count>
            </with>
            <reference
                  definitionId="de.cau.cs.kieler.klighd.ui.nodesSelected">
            </reference>
         </and>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.cau.cs.kieler.klighd.ui.printing.DiagramPrintOptions$Initializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="de.cau.cs.kieler.klighd.ui.context"
            name="Browsing KIELER Lightweight Diagrams"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.cau.cs.kieler.klighd"
            name="KIELER Lightweight Diagrams">
      </category>
      <view
            allowMultiple="true"
            category="de.cau.cs.kieler.klighd"
            class="de.cau.cs.kieler.klighd.ui.parts.DiagramViewPart"
            icon="icons/klighd.gif"
            id="de.cau.cs.kieler.klighd.ui.parts.DiagramViewPart"
            name="Lightweight Diagram"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="de.cau.cs.kieler.klighd"
            class="de.cau.cs.kieler.klighd.ui.view.DiagramView"
            icon="icons/full/etool16/diagrams_view.gif"
            id="de.cau.cs.kieler.klighd.ui.view.diagram"
            name="Diagram"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.cau.cs.kieler.klighd.ui"
            name="KLighD Commands">
      </category>
      <commandParameterType
            converter="de.cau.cs.kieler.klighd.ui.internal.handlers.KlighdActionExecutionHandler$IActionParameterValueConverter"
            id="de.cau.cs.kieler.klighd.ui.IAction"
            type="de.cau.cs.kieler.klighd.IAction">
      </commandParameterType>
      <command
            categoryId="de.cau.cs.kieler.klighd.ui"
            description="Generic KLighD command allowing to execution IAction implementations"
            id="de.cau.cs.kieler.klighd.ui.actionExecution"
            name="IAction execution">
         <commandParameter
               id="de.cau.cs.kieler.klighd.ui.action"
               name="Action"
               optional="false"
               typeId="de.cau.cs.kieler.klighd.ui.IAction"
               values="de.cau.cs.kieler.klighd.ui.internal.handlers.KlighdActionExecutionHandler$IActionParameterValues">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.cau.cs.kieler.klighd.ui.internal.handlers.KlighdActionExecutionHandler"
            commandId="de.cau.cs.kieler.klighd.ui.actionExecution">
         <enabledWhen>
            <and>
               <reference
                     definitionId="de.cau.cs.kieler.klighd.ui.isKlighdContext">
               </reference>
                    <or>
                   <with
                         variable="selection">
                      <instanceof
                            value="de.cau.cs.kieler.klighd.ui.KlighdTextSelection">
                      </instanceof>
                   </with>
                   <iterate>
                      <instanceof
                            value="de.cau.cs.kieler.core.kgraph.KGraphElement">
                      </instanceof>
                   </iterate>
                    </or>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="de.cau.cs.kieler.klighd.ui.internal.handlers.KlighdLayoutHandler"
            commandId="de.cau.cs.kieler.kiml.ui.command.layout">
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="de.cau.cs.kieler.klighd.IDiagramWorkbenchPart$IDiagramEditorPart">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            description="Hides the &apos;Layout selection&apos; contribution KLighD diagrams."
            id="de.cau.cs.kieler.klighd.ui.hideLayoutSelectionContribution"
            name="Enable Layout Selection Menu Contribution">
         <enabledWhen>
            <not>
               <reference
                     definitionId="de.cau.cs.kieler.klighd.ui.isKlighdContext">
               </reference>
            </not>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="de.cau.cs.kieler.klighd.ui.hideLayoutSelectionContribution"
            isEqualityPattern="true"
            pattern="de.cau.cs.kieler.kiml.ui/de.cau.cs.kieler.kiml.ui.command.layout.selection">
      </activityPatternBinding>
      <activity
            description="Hides the &apos;Show Layout View&apos; contribution under certain circumstances."
            id="de.cau.cs.kieler.klighd.ui.hideShowLayoutViewContributions"
            name="Enable Show Layout View Contributions">
         <enabledWhen>
         <not>
         <and>
            <reference
                  definitionId="de.cau.cs.kieler.klighd.ui.isKlighdContext">
            </reference>
            <with
                  variable="activeMenu">
               <iterate>
                     <equals
                           value="de.cau.cs.kieler.klighd.ui.popupMenu.floatingText">
                     </equals>
               </iterate>
            </with>
         </and>
         </not>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="de.cau.cs.kieler.klighd.ui.hideShowLayoutViewContributions"
            isEqualityPattern="true"
            pattern="de.cau.cs.kieler.kiml.ui/de.cau.cs.kieler.kiml.ui.command.showLayoutView">
      </activityPatternBinding>
   </extension>
</plugin>
