<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.cau.cs.kieler.klighd"
            name="KIELER Light-weight Diagrams">
      </category>
      <view
            allowMultiple="true"
            category="de.cau.cs.kieler.klighd"
            class="de.cau.cs.kieler.klighd.ui.parts.DiagramViewPart"
            icon="icons/klighd.gif"
            id="de.cau.cs.kieler.klighd.ui.lightDiagramView"
            name="Light-weight Diagram"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.cau.cs.kieler.klighd.ui.parts.DiagramEditorPart"
            default="false"
            icon="icons/klighd.gif"
            id="de.cau.cs.kieler.klighd.ui.lightDiagramEditor"
            name="Light-weight Diagram">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.cau.cs.kieler.klighd.ui.internal.KlighdPreferencePage"
            id="de.cau.cs.kieler.klighd.ui.preferences"
            name="%preferencePage.name">
      </page>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.extensions">
      <viewer
            class="de.cau.cs.kieler.klighd.ui.internal.viewers.PiccoloViewerProvider"
            id="de.cau.cs.kieler.klighd.piccolo.piccoloViewer">
      </viewer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.cau.cs.kieler.klighd.ui"
            name="KLighD Commands">
      </category>
      <commandParameterType
            converter="de.cau.cs.kieler.klighd.ui.internal.handlers.KlighdActionExecutionHandler$IActionParameterValueConverter"
            id="de.cau.cs.kieler.klighd.ui.IAction"
            type="de.cau.cs.kieler.klighd.IAction">
      </commandParameterType>
      <command
            categoryId="de.cau.cs.kieler.klighd.ui"
            description="Generic KLighD command allowing to execution IAction implementations"
            id="de.cau.cs.kieler.klighd.ui.actionExecution"
            name="IAction execution">
         <commandParameter
               id="de.cau.cs.kieler.klighd.ui.action"
               name="Action"
               optional="false"
               typeId="de.cau.cs.kieler.klighd.ui.IAction"
               values="de.cau.cs.kieler.klighd.ui.internal.handlers.KlighdActionExecutionHandler$IActionParameterValues">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.cau.cs.kieler.klighd.ui.internal.handlers.KlighdActionExecutionHandler"
            commandId="de.cau.cs.kieler.klighd.ui.actionExecution">
         <enabledWhen>
            <iterate>
               <instanceof
                     value="de.cau.cs.kieler.core.kgraph.KGraphElement">
               </instanceof>
            </iterate>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.cau.cs.kieler.klighd.ui.clipActionVisibility">
         <and>
            <count
                  value="1">
            </count>
            <iterate>
               <instanceof
                     value="de.cau.cs.kieler.core.kgraph.KNode">
               </instanceof>
            </iterate>
         </and>
      </definition>
   </extension>
   <extension
         id="de.cau.cs.kieler.klighd.ui.internal.commands.TestHandler"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <command
               commandId="de.cau.cs.kieler.klighd.ui.actionExecution"
               label="Clip selected"
               style="push">
            <parameter
                  name="de.cau.cs.kieler.klighd.ui.action"
                  value="de.cau.cs.kieler.klighd.actions.ClipSelectionAction">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.cau.cs.kieler.klighd.ui.clipActionVisibility">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="de.cau.cs.kieler.klighd.ui.actionExecution"
               label="Clip towards selection"
               style="push">
            <parameter
                  name="de.cau.cs.kieler.klighd.ui.action"
                  value="de.cau.cs.kieler.klighd.actions.ClipTowardsSelectionAction">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.cau.cs.kieler.klighd.ui.clipActionVisibility">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="de.cau.cs.kieler.klighd.ui.actionExecution"
               label="Clip parent"
               style="push">
            <parameter
                  name="de.cau.cs.kieler.klighd.ui.action"
                  value="de.cau.cs.kieler.klighd.actions.ClipParentAction">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.cau.cs.kieler.klighd.ui.clipActionVisibility">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="de.cau.cs.kieler.klighd.ui.actionExecution"
               label="Clip root"
               style="push">
            <parameter
                  name="de.cau.cs.kieler.klighd.ui.action"
                  value="de.cau.cs.kieler.klighd.actions.ClipResetAction">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.cau.cs.kieler.klighd.ui.clipActionVisibility">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <!-- extension
         id="de.cau.cs.kieler.klighd.ui.internal.commands.TestHandler"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.cau.cs.kieler.layout.toolbar">
         <command
               commandId="de.cau.cs.kieler.klighd.ui.actionExecution"
               label="TestContribution"
               style="push">
            <parameter
                  name="de.cau.cs.kieler.klighd.ui.action"
                  value="de.cau.cs.kieler.klighd.actions.CollapseExpandAction">
            </parameter>
         </command>
      </menuContribution>
   </extension -->

</plugin>
