<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<fragment>
   <extension
         point="de.cau.cs.kieler.klighd.extensions">
      <updateStrategy
            class="de.cau.cs.kieler.klighd.incremental.UpdateStrategy"
            id="de.cau.cs.kieler.klighd.incremental.UpdateStrategy">
      </updateStrategy>
   </extension>
   <extension
         point="org.eclipse.emf.compare.diff.engine">
      <diffengine
            engineClass="de.cau.cs.kieler.klighd.incremental.diff.KGraphDiffEngine"
            label="KgtDiffEngine"
            namespace="http://kieler.cs.cau.de/KGraph"
            priority="high">
      </diffengine>
   </extension>
   <extension
         point="org.eclipse.emf.compare.match.engine">
      <matchengine
            engineClass="de.cau.cs.kieler.klighd.incremental.match.KGraphMatchEngine"
            label="KgtMatchEngine"
            namespace="http://kieler.cs.cau.de/KGraph"
            priority="high">
      </matchengine>
   </extension>

</fragment>
