<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.klighd.extensions">
      <viewer
            class="de.cau.cs.kieler.klighd.piccolo.svg.legacy.PiccoloSVGViewerProvider"
            id="de.cau.cs.kieler.klighd.piccolo.svg.viewer">
      </viewer>
   </extension>
   <extension
         id="Browser"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="de.cau.cs.kieler.klighd.piccolo.svg.BrowseServerApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.cau.cs.kieler.klighd.piccolo.svg.Browser"
            name="KlighD SVG Browser">
         <property
               name="appName"
               value="KlighD SVG Browser">
         </property>
      </product>
   </extension>
</plugin>
