<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.klighd.extensions">
      <viewer
            class="de.cau.cs.kieler.klighd.piccolo.svg.PiccoloSVGViewerProvider"
            id="de.cau.cs.kieler.klighd.piccolo.svg.viewer">
      </viewer>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="de.cau.cs.kieler.klighd.piccolo.svg.browsing.BrowseServerApplication">
         </run>
      </application>
   </extension>
</plugin>
