<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 KIELER - Kiel Integrated Environment for Layout Eclipse RichClient
 
 http://www.informatik.uni-kiel.de/rtsys/kieler/
 
 Copyright 2009 by
 + Christian-Albrechts-University of Kiel
   + Department of Computer Science
     + Real-Time and Embedded Systems Group
 
 This code is provided under the terms of the Eclipse Public License (EPL).
 See the file epl-v10.html for the license text.

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://kieler.cs.cau.de/KGraph"
            class="de.cau.cs.kieler.core.kgraph.KGraphPackage"
            genModel="model/kgraph.genmodel"/>
   </extension>

</plugin>
