<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.klighd.extensions">
      <viewer
            class="de.cau.cs.kieler.klighd.piccolo.viewer.PiccoloViewerProvider"
            id="de.cau.cs.kieler.klighd.piccolo.piccoloViewer">
      </viewer>
   </extension>
   <extension
         point="de.cau.cs.kieler.kiml.layoutProviders">
      <layoutOption
            appliesTo="nodes"
            default="null"
            id="klighd.tooltip"
            name="Tooltip"
            type="string">
      </layoutOption>
   </extension>

</plugin>
