<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.klighd.viewerProviders">
      <viewer
            class="de.cau.cs.kieler.klighd.piccolo.krendering.PiccoloViewerProvider"
            id="de.cau.cs.kieler.klighd.piccolo.piccoloViewer">
      </viewer>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.modelTransformations">
      <transformation
            class="de.cau.cs.kieler.klighd.piccolo.krendering.KRendering2PNodeTransformation"
            id="de.cau.cs.kieler.klighd.piccolo.krendering2pnode">
      </transformation>
   </extension>

</plugin>
