<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.core.kivi.combinations">
      <combination
            active="false"
            class="de.cau.cs.kieler.klighd.examples.ecore.EcoreDiagramSynthesisCombination"
            name="Visualize chosen Ecore classes">
      </combination>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.diagramSyntheses">
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.transformations.GuiceBasedTransformationFactory:de.cau.cs.kieler.klighd.examples.ecore.EcoreDiagramSynthesis"
            id="de.cau.cs.kieler.klighd.examples.ecore.EcoreDiagramSynthesis">
      </diagramSynthesis>
      <!-- diagramSynthesis
            class="de.cau.cs.kieler.klighd.transformations.GuiceBasedTransformationFactory:de.cau.cs.kieler.klighd.examples.uml2.UML2UseCaseDiagramSynthesis"
            id="de.cau.cs.kieler.klighd.examples.uml2.UML2UseCaseDiagramSynthesis">
      </diagramSynthesis -->
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.transformations.GuiceBasedTransformationFactory:de.cau.cs.kieler.klighd.examples.ecore.EcoreFileDiagramSynthesis"
            id="de.cau.cs.kieler.klighd.examples.EcoreFileDiagramSynthesis">
      </diagramSynthesis>
   </extension>

</plugin>
