<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.core.kivi.combinations">
      <combination
            active="false"
            class="de.cau.cs.kieler.klighd.examples.ecore.EcoreDiagramSynthesisCombination"
            name="Visualize chosen Ecore classes">
      </combination>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.diagramSyntheses">
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.transformations.GuiceBasedTransformationFactory:de.cau.cs.kieler.klighd.examples.ecore.EcoreDiagramSynthesis"
            id="de.cau.cs.kieler.klighd.examples.ecore.EcoreDiagramSynthesis">
      </diagramSynthesis>
      <!-- diagramSynthesis
            class="de.cau.cs.kieler.klighd.transformations.GuiceBasedTransformationFactory:de.cau.cs.kieler.klighd.examples.uml2.UML2UseCaseDiagramSynthesis"
            id="de.cau.cs.kieler.klighd.examples.uml2.UML2UseCaseDiagramSynthesis">
      </diagramSynthesis -->
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.cau.cs.kieler.klighd.examples.ecore.RemoveNodeHandler"
            id="de.cau.cs.kieler.klighd.command1"
            name="Shoot class away">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="de.cau.cs.kieler.klighd.command1"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <instanceof
                           value="java.lang.Iterable">
                     </instanceof>
                     <iterate>
                        <instanceof
                              value="de.cau.cs.kieler.core.kgraph.KNode">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
