<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.cau.cs.kieler.klighd.ui.view.controller" name="DiagramView Update Controller" schema="schema/controller.exsd"/>
   <extension-point id="de.cau.cs.kieler.klighd.ui.view.editor" name="DiagramView Editor Controller Registration" schema="schema/editor.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="de.cau.cs.kieler.klighd"
            class="de.cau.cs.kieler.klighd.ui.view.DiagramView"
            icon="icons/full/etool16/diagrams_view.gif"
            id="de.cau.cs.kieler.klighd.ui.view.diagram"
            name="Diagram"
            restorable="true">
      </view>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.extensions">
      <action
            class="de.cau.cs.kieler.klighd.ui.view.syntheses.action.ErrorModelShowExceptionAction"
            id="de.cau.cs.kieler.klighd.ui.view.syntheses.action.ErrorModelShowExceptionAction">
      </action>
      <action
            class="de.cau.cs.kieler.klighd.ui.view.syntheses.action.EcoreModelExpandDetailsAction"
            id="de.cau.cs.kieler.klighd.ui.view.syntheses.action.EcoreModelExpandDetailsAction">
      </action>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.ui.view.controller">
      <controller
            class="de.cau.cs.kieler.klighd.ui.view.controllers.XtextChangeUpdateController">
      </controller>
      <controller
            class="de.cau.cs.kieler.klighd.ui.view.controllers.EcoreXtextSaveUpdateController">
      </controller>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.diagramSyntheses">
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.klighd.ui.view.syntheses.MessageModelSynthesis"
            id="de.cau.cs.kieler.klighd.ui.view.syntheses.MessageModelSynthesis">
      </diagramSynthesis>
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.klighd.ui.view.syntheses.ErrorModelSynthesis"
            id="de.cau.cs.kieler.klighd.ui.view.syntheses.ErrorModelSynthesis">
      </diagramSynthesis>
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.klighd.ui.view.syntheses.EcoreModelSynthesis"
            id="de.cau.cs.kieler.klighd.ui.view.syntheses.EcoreModelSynthesis">
      </diagramSynthesis>
         
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.cau.cs.kieler.klighd.ui"
            defaultHandler="de.cau.cs.kieler.klighd.ui.internal.handlers.KlighdSaveKGraphHandler"
            description="Allows to write the view model KGraph to a file."
            id="de.cau.cs.kieler.klighd.ui.savekgraph"
            name="Save View Model (KGraph)">
         <commandParameter
               id="de.cau.cs.kieler.klighd.ui.view.savekgraphParameter"
               name="ExportType"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="de.cau.cs.kieler.klighd.ui"
            defaultHandler="de.cau.cs.kieler.klighd.ui.internal.handlers.SaveAsImageHandler"
            description="Contributes bitmap and vectorgraphics based diagram export of KLighD diagrams"
            id="de.cau.cs.kieler.klighd.ui.saveAsImage"
            name="Save as image">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <command
               commandId="de.cau.cs.kieler.klighd.ui.actionExecution"
               id="de.cau.cs.kieler.klighd.ui.clipSelected"
               label="Clip selected"
               style="push">
            <parameter
                  name="de.cau.cs.kieler.klighd.ui.action"
                  value="de.cau.cs.kieler.klighd.actions.ClipSelectionAction">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.cau.cs.kieler.klighd.ui.singleNodeSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="de.cau.cs.kieler.klighd.ui.actionExecution"
               id="de.cau.cs.kieler.klighd.ui.clipTowardsSelection"
               label="Clip towards selection"
               style="push">
            <parameter
                  name="de.cau.cs.kieler.klighd.ui.action"
                  value="de.cau.cs.kieler.klighd.actions.ClipTowardsSelectionAction">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.cau.cs.kieler.klighd.ui.singleNodeSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="de.cau.cs.kieler.klighd.ui.actionExecution"
               id="de.cau.cs.kieler.klighd.ui.clipParent"
               label="Clip parent"
               style="push">
            <parameter
                  name="de.cau.cs.kieler.klighd.ui.action"
                  value="de.cau.cs.kieler.klighd.actions.ClipParentAction">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.cau.cs.kieler.klighd.ui.singleNodeSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="de.cau.cs.kieler.klighd.ui.actionExecution"
               id="de.cau.cs.kieler.klighd.ui.clipRoot"
               label="Clip root"
               style="push">
            <parameter
                  name="de.cau.cs.kieler.klighd.ui.action"
                  value="de.cau.cs.kieler.klighd.actions.ClipResetAction">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.cau.cs.kieler.klighd.ui.singleNodeSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="de.cau.cs.kieler.klighd.ui.actionExecution"
               id="de.cau.cs.kieler.klighd.ui.scaleUp"
               label="Scale up"
               style="push">
            <parameter
                  name="de.cau.cs.kieler.klighd.ui.action"
                  value="de.cau.cs.kieler.klighd.actions.ScaleUpAction">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.cau.cs.kieler.klighd.ui.nodesSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="de.cau.cs.kieler.klighd.ui.actionExecution"
               id="de.cau.cs.kieler.klighd.ui.scaleDown"
               label="Scale down"
               style="push">
            <parameter
                  name="de.cau.cs.kieler.klighd.ui.action"
                  value="de.cau.cs.kieler.klighd.actions.ScaleDownAction">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.cau.cs.kieler.klighd.ui.nodesSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="de.cau.cs.kieler.klighd.ui.actionExecution"
               id="de.cau.cs.kieler.klighd.ui.scaleActualSize"
               label="Scale 100%"
               style="push">
            <parameter
                  name="de.cau.cs.kieler.klighd.ui.action"
                  value="de.cau.cs.kieler.klighd.actions.ScaleResetAction">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.cau.cs.kieler.klighd.ui.nodesSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="de.cau.cs.kieler.klighd.ui.saveAsImage"
               id="de.cau.cs.kieler.klighd.ui.saveAsImage"
               label="Save as image..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.cau.cs.kieler.klighd.ui.isKlighdContext">
               </reference>
            </visibleWhen>
         </command>
         <menu
               label="Export KGraphs">
            <command
                  commandId="de.cau.cs.kieler.klighd.ui.savekgraph"
                  id="de.cau.cs.kieler.klighd.ui.saveKGraph"
                  label="Underlying KGraph"
                  style="push">
               <parameter
                     name="de.cau.cs.kieler.klighd.ui.view.savekgraphParameter"
                     value="single">
               </parameter>
            </command>
            <command
                  commandId="de.cau.cs.kieler.klighd.ui.savekgraph"
                  id="de.cau.cs.kieler.klighd.ui.kgraphchunky"
                  label="KGraph Chunky"
                  style="push">
               <parameter
                     name="de.cau.cs.kieler.klighd.ui.view.savekgraphParameter"
                     value="chunky">
               </parameter>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.cau.cs.kieler.klighd.ui.nodesSelected">
               </reference>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.cau.cs.kieler.klighd.ui.actionExecution"
            contextId="de.cau.cs.kieler.klighd.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1++">
         <parameter
               id="de.cau.cs.kieler.klighd.ui.action"
               value="de.cau.cs.kieler.klighd.actions.ScaleUpAction">
         </parameter>
      </key>
      <key
            commandId="de.cau.cs.kieler.klighd.ui.actionExecution"
            contextId="de.cau.cs.kieler.klighd.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+-">
         <parameter
               id="de.cau.cs.kieler.klighd.ui.action"
               value="de.cau.cs.kieler.klighd.actions.ScaleDownAction">
         </parameter>
      </key>
      <key
            commandId="de.cau.cs.kieler.klighd.ui.actionExecution"
            contextId="de.cau.cs.kieler.klighd.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+0">
         <parameter
               id="de.cau.cs.kieler.klighd.ui.action"
               value="de.cau.cs.kieler.klighd.actions.ScaleResetAction">
         </parameter>
      </key>
      <key
            commandId="de.cau.cs.kieler.klighd.ui.actionExecution"
            contextId="de.cau.cs.kieler.klighd.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+ARROW_DOWN">
         <parameter
               id="de.cau.cs.kieler.klighd.ui.action"
               value="de.cau.cs.kieler.klighd.actions.ClipSelectionAction">
         </parameter>
      </key>
      <key
            commandId="de.cau.cs.kieler.klighd.ui.actionExecution"
            contextId="de.cau.cs.kieler.klighd.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ARROW_DOWN">
         <parameter
               id="de.cau.cs.kieler.klighd.ui.action"
               value="de.cau.cs.kieler.klighd.actions.ClipTowardsSelectionAction">
         </parameter>
      </key>
      <key
            commandId="de.cau.cs.kieler.klighd.ui.actionExecution"
            contextId="de.cau.cs.kieler.klighd.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ARROW_UP">
         <parameter
               id="de.cau.cs.kieler.klighd.ui.action"
               value="de.cau.cs.kieler.klighd.actions.ClipParentAction">
         </parameter>
      </key>
      <key
            commandId="de.cau.cs.kieler.klighd.ui.actionExecution"
            contextId="de.cau.cs.kieler.klighd.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+ARROW_UP">
         <parameter
               id="de.cau.cs.kieler.klighd.ui.action"
               value="de.cau.cs.kieler.klighd.actions.ClipResetAction">
         </parameter>
      </key>
   </extension>
</plugin>
