<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="extensions" name="Compound extension point for all kinds of extensions" schema="schema/extensions.exsd"/>
   <extension-point id="diagramSyntheses" name="Diagram syntheses registering point" schema="schema/diagramSyntheses.exsd"/>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.cau.cs.kieler.klighd.internal.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
            point="org.eclipse.elk.core.service.layoutConnectors">
      <setup
            class="de.cau.cs.kieler.klighd.internal.macrolayout.KlighdLayoutSetup">
      </setup>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.extensions">
      <updateStrategy
            class="de.cau.cs.kieler.klighd.krendering.SimpleUpdateStrategy"
            id="de.cau.cs.kieler.klighd.krendering.SimpleUpdateStrategy">
      </updateStrategy>
      <styleModifier
            class="de.cau.cs.kieler.klighd.modifiers.PortRotationModifier"
            id="de.cau.cs.kieler.klighd.modifiers.PortRotationModifier">
      </styleModifier>
      <action
            class="de.cau.cs.kieler.klighd.actions.CollapseExpandAction"
            id="de.cau.cs.kieler.klighd.actions.CollapseExpandAction">
      </action>
      <action
            class="de.cau.cs.kieler.klighd.actions.ClipParentAction"
            id="de.cau.cs.kieler.klighd.actions.ClipParentAction">
      </action>
      <action
            class="de.cau.cs.kieler.klighd.actions.ClipResetAction"
            id="de.cau.cs.kieler.klighd.actions.ClipResetAction">
      </action>
      <action
            class="de.cau.cs.kieler.klighd.actions.ClipSelectionAction"
            id="de.cau.cs.kieler.klighd.actions.ClipSelectionAction">
      </action>
      <action
            class="de.cau.cs.kieler.klighd.actions.ClipTowardsSelectionAction"
            id="de.cau.cs.kieler.klighd.actions.ClipTowardsSelectionAction">
      </action>
      <action
            class="de.cau.cs.kieler.klighd.actions.FocusAndContextAction"
            id="de.cau.cs.kieler.klighd.actions.FocusAndContextAction">
      </action>
      <action
            class="de.cau.cs.kieler.klighd.actions.ManageLabelsAction"
            id="de.cau.cs.kieler.klighd.actions.ManageLabelsAction">
      </action>
      <action
            class="de.cau.cs.kieler.klighd.actions.ScaleUpAction"
            id="de.cau.cs.kieler.klighd.actions.ScaleUpAction">
      </action>
      <action
            class="de.cau.cs.kieler.klighd.actions.ScaleDownAction"
            id="de.cau.cs.kieler.klighd.actions.ScaleDownAction">
      </action>
      <action
            class="de.cau.cs.kieler.klighd.actions.ScaleResetAction"
            id="de.cau.cs.kieler.klighd.actions.ScaleResetAction">
      </action>
   </extension>
   <extension
         point="de.cau.cs.kieler.kiml.layoutProviders">
      <layoutOption
            advanced="true"
            appliesTo="parents,nodes,ports,labels"
            default="false"
            description="Whether an element is in the focus rather than in the context."
            id="klighd.labels.elementInFocus"
            name="Element in Focus"
            type="boolean">
      </layoutOption>
      <layoutOption
            class="de.cau.cs.kieler.klighd.util.ExpansionAwareLayoutOption$ExpansionAwareLayoutOptionData"
            description="Compound option containing pairs of layout option definitions for the collapsed and expanded state of a KNode"
            id="de.cau.cs.kieler.klighd.expansionAwareLayoutOption"
            name="Expansion Aware Options (programmatic)"
            type="object"
            variance="0">
      </layoutOption>
      <layoutOption
            class="de.cau.cs.kieler.core.math.KVector"
            id="de.cau.cs.kieler.klighd.minimalNodeSize"
            name="Minimal Node Size (programmatic)"
            type="object"
            variance="0">
      </layoutOption>
   </extension>

</plugin>
